#leftAnchor{
	-fx-background-color: #556B2F;
}

#rightAnchor{
	-fx-background-color: #F5F5DC;
}

#labelMenu{
	-fx-text-fill: white;
	-fx-font-family: Impact, fantasy;
	-fx-font-size: 30px;
}

#labelTextoInicio{
	-fx-background-color: #F5F5DC;
  	-fx-font-weight: 500;
}

.button{
	-fx-background-color: #556B2F;
 	-fx-border-color: white;
 	-fx-text-fill: white;
}

#b1:focused, #b2:focused, #b3:focused{
	-fx-background-color: #262E15;
	-fx-text-fill: #F5F5DC;
}

.button:hover{
	-fx-background-color: #262E15;
	-fx-text-fill: #F5F5DC;
}

#alunos, #cursos, #professores, #turmas{
	-fx-text-fill: #556B2F;
	-fx-font-family: Impact, fantasy;
	-fx-font-size: 30px;
}

.table-view{
	-fx-background-color: #F5F5DC;
	-fx-border-color: #556B2F;
}

.table-view .column-header-background .label{
	-fx-background-color:#556B2F;
	-fx-text-fill: white;
	-fx-font-size: 12px;
	-fx-font-family: 'Helvetica Neue', sans-serif;
}

#anchorAlunos{
	-fx-background-color: #F5F5DC;
	-fx-color: #F5F5DC;
}

.text-field {
	-fx-accent: #00FF7F;
	-fx-background-color: #556B2F, #F5F5DC;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}
.text-field:focused {
	-fx-background-color: black, #F5F5DC;
}